/**
 * @section Button Drop Down
 *
 * A button that when clicked expands a drop down menu.
 *
 * ```html
 * <div class="button-drop-down">
 *   <button >test</button>
 *   <div class="content">content</div>
 * </div>
 * ```
 *
 * When the container has the `is-active` class, the content for the drop down is displayed.
 *
 * ```html
 * <div class="button-drop-down is-active" style="margin-bottom: 30px;">
 *   <button >test</button>
 *   <div class="content" style="width: 200px;">content</div>
 * </div>
 * ```
 *
 * You can use button classes too:
 *
 * ```html
 * <div class="button-drop-down is-active" style="margin-bottom: 30px;">
 *   <button class="small">test</button>
 *   <div class="content" style="width: 200px;">content</div>
 * </div>
 * ```
 *
 * ```html
 * <div class="button-drop-down is-active" style="margin-bottom: 30px;">
 *   <button class="large">test</button>
 *   <div class="content" style="width: 200px;">content</div>
 * </div>
 * ```
 *
 * ```html
 * <div class="button-drop-down is-active" style="margin-bottom: 30px;">
 *   <button class="largest">test</button>
 *   <div class="content" style="width: 200px;">content</div>
 * </div>
 * ```
 */
.button-drop-down {
  @include user-select(none);

  display: inline-block;
  position: relative;
  color: $color-button-drop-down;
  font-weight: $font-weight-button-drop-down;
  display: inline-block;

  &.is-active {
    button {
      border-bottom: none;
      border-radius: $border-radius-button-drop-down $border-radius-button-drop-down 0 0;
      z-index: $z-index-button-is-active-button-drop-down;
    }

    button {
      background-color: $background-color-content-button-drop-down;
    }

    .content {
      display: inherit;
    }
  }

  button {
    z-index: $z-index-button-button-drop-down;
  }

  .content {
    display: none;
    border-radius: 0 $border-radius-button-drop-down $border-radius-button-drop-down $border-radius-button-drop-down;
    padding: $padding-content-button-drop-down;
    background-color: $background-color-content-button-drop-down;
    z-index: $z-index-content-button-drop-down;
  }

  /**
   * @section Button Drop Down
   * @subsection Not Positioned
   *
   * @TODO: example
   *
   * By default, the content of the button drop down is position absolute however if you don't want this (useful if you need something like fixed positioning),
   * you can add the `not-positioned` class to the container.
   */
  &:not(.not-positioned) {
    > .content {
      position: absolute;
      left: 0;

      //this will have to be overriden if the drop down requires more/less space (can't find a way to have a absolute position element have an auto width)
      width: 100%;

      top: 100%;
    }
  }

  /**
   * @section Button Drop Down
   * @subsection Border
   *
   * If you wish to have a border, add a `border` class to the container.
   *
   * ```html
   * <div class="button-drop-down border">
   *   <button >test</button>
   *   <div class="content" style="width: 200px;">content</div>
   * </div>
   * ```
   *
   * ```html
   * <div class="button-drop-down border is-active" style="margin-bottom: 30px;">
   *   <button >test</button>
   *   <div class="content" style="width: 200px;">content</div>
   * </div>
   * ```
   */
  &.border {
    &.is-active {
      button {
        border-bottom: none;
      }
    }

    button {
      border: $border-button-drop-down;
    }

    .content {
      border: $border-button-drop-down;

      //this is something that will probably have to be set manually on a case by case level, this should handle common cases though
      top: 97%;
    }
  }

  /**
   * @section Button Drop Down
   * @subsection Left
   *
   * By default, the button drop down content extends over the right side of the button.  To make the button drop down content extend over the left side of the,
   * button, add a `left` class to the container.
   *
   * ```html
   * <div style="position: relative; height: 60px;">
   *   <div class="button-drop-down left is-active" style="margin-bottom: 30px;position: absolute; right: 0;">
   *     <button >test</button>
   *     <div class="content" style="width: 200px;">content</div>
   *   </div>
   * </div>
   * ```
   */
  &.left {
    .content {
      left: auto;
      right: 0;
      border-radius: $border-radius-button-drop-down 0 $border-radius-button-drop-down $border-radius-button-drop-down;
    }
  }

  /**
   * @section Button Drop Down
   * @subsection Square
   *
   * By default, the button drop down has rounded corners but if you don't want that, add a `square` class to the container.
   *
   * ```html
   * <div class="button-drop-down square is-active" style="margin-bottom: 30px;">
   *   <button >test</button>
   *   <div class="content" style="width: 200px;">content</div>
   * </div>
   * ```
   */
  &.square {
    button {
      border-radius: 0;
    }

    .content {
      border-radius: 0;
    }
  }
}
