/**
 * @section Buttons
 * @subsection Button Size
 *
 * This mixin adds the appropriate sizing properties for the different support sizes.  The following sizes are supported:
 *
 * - small
 * - normal (default)
 * - large
 * - largest
 *
 * @mixin button-size
 * @param $size string Button size
 */

@mixin button-size($size: normal) {
  @if $size == small {
    font-size: $font-size-small-button;
    padding: $padding-small-button;
  }
  @if $size == normal {
    font-size: $font-size-button;
    padding: $padding-button;
  }
  @if $size == large {
    font-size: $font-size-large-button;
    padding: $padding-large-button;
  }
  @if $size == largest {
    font-size: $font-size-largest-button;
    padding: $padding-largest-button;
  }
}

/**
 * @section Buttons
 * @subsection Button Color
 *
 * This mixin adds the appropriate shadow colors for the different button states.
 *
 * @mixin button-color
 * @param $button-main-color color Button main background color
 * @param $button-text-color color Button text color
 */
@mixin button-color($button-main-color, $button-text-color) {
  /**
   * @section Buttons
   * @subsection Quiet
   *
   * A quiet button is a button that looks like regular test until you hover over it (using the `quiet` class).
   *
   * ```html
   * <button class="quiet">Default</button>
   * ```
   */
  &.quiet {
    color: $color-text;
    background: none;
  }

  &:not(.quiet) {
    color: $button-text-color;
    background-color: $button-main-color;
  }

  /**
   * @section Buttons
   * @subsection Border
   *
   * If you wish to added a border to the button, add the `border` class.
   *
   * ```html
   * <button class="border">Border</button>
   * ```
   */
  &.border {
    border: 1px solid darken($button-main-color, $percentage-darkest);
  }

  &:not(.solid-color) {
    &:hover {

      &.quiet {
        color: $button-text-color;
      }

      &:not([disabled]) {
          background-color: darken($button-main-color, $percentage-dark);
      }
    }

    &:active, &.is-active {
      &:not([disabled]) {
          background-color: darken($button-main-color, $percentage-dark);
      }
    }
  }
}

/**
 * @section Buttons
 *
 * Standard button.
 *
 * ```html
 * <button>Default</button>
 * ```
 */
button {
  @include button-size(normal);
  @include button-color($background-color-button-default, $color-default-button);

  border-radius: $border-radius-button;
  position: relative;
  border: none;
  font-weight: $font-weight-button;
  cursor: pointer;

  &:not(.quiet) {
    @if $is-uppercased-button == true {
      text-transform: uppercase;
    }
  }

  &:focus {
    outline: none;
  }

  /**
   * @section Buttons
   * @subsection Sizes
   *
   * Button can have 3 additional sizes in addition to the defualt size.
   *
   * You can add a `small` class.
   *
   * ```html
   * <button class="small">Small</button>
   * ```
   *
   * You can add a `large` class.
   *
   * ```html
   * <button class="large">Large</button>
   * ```
   *
   * You can add a `largest` class.
   *
   * ```html
   * <button class="largest">Largest</button>
   * ```
   */
  &.small {
    @include button-size(small);
  }

  &.large {
    @include button-size(large);
  }

  &.largest {
    @include button-size(largest);
  }

  /**
   * @section Buttons
   * @subsection States
   *
   * Buttons can have a number of differnt states that change the color of the button.
   *
   * The `primary` class can be added to indicate the primary action to be done.
   *
   * ```html
   * <button class="primary">Primary</button>
   * ```
   *
   * The `caution` class can be added to indicate that you should be careful in clicking the button.
   *
   * ```html
   * <button class="caution">Caution</button>
   * ```
   *
   * The `danger` class can be added to indicate a negative action will be performed when clicking the button (like removing a record).
   *
   * ```html
   * <button class="danger">Danger</button>
   * ```
   *
   * The `safe` class can be added to indicate a positive action will be performed when clicking the button (like adding a record).
   *
   * ```html
   * <button class="safe">Safe</button>
   * ```
   */
  &.primary {
    @include button-color($background-color-primary-button, $color-primary-button);
  }

  &.caution {
    @include button-color($background-color-caution-button, $color-caution-button);
  }

  &.danger {
    @include button-color($background-color-danger-button, $color-danger-button);
  }

  &.safe {
    @include button-color($background-color-safe-button, $color-safe-button);
  }

  /**
   * @section Buttons
   * @subsection Disabled
   *
   * Disabled button will automatically appear faded and have the proper cursor to indicate the button can't be clicked on.
   *
   * ```html
   * <button disabled>Disabled</button>
   * ```
   */
  &[disabled] {
    opacity: $opacity-disabled-button;
    cursor: not-allowed;
  }

  /**
   * @section Buttons
   * @subsection Square
   *
   * Button are rounded by default however you can add the `square` class to remove the rounded corners.
   *
   * ```html
   * <button class="square">Square</button>
   * ```
   */
  &.square {
    border-radius: 0;
  }
}
