.button-drop-down {
  @include user-select(none);

  display: inline-block;
  position: relative;
  color: $white;
  font-weight: 200;
  display: inline-block;

  button {
    z-index: 495;

    &.is-active {
      border-bottom: none;
      border-radius: 3px 3px 0 0;
      z-index: 502;

      &.border {
        @include button-size(drop-down-normal);

        &.small {
          @include button-size(drop-down-small);
        }

        &.large {
          @include button-size(drop-down-large);
        }

        &.largest {
          @include button-size(drop-down-largest);
        }
      }
    }
  }

  .content {
    position: absolute;
    left: 0;
    border-radius: 0 3px 3px 3px;
    padding: 5px;
    background-color: $gray;
    z-index: 501;

    //this will have to be overriden if the drop down requires more/less space (can't find a way to have a absolute position element have an auto width)
    width: 100%;

    top: 100%;
  }

  &.border {
    .content {
      border: 1px solid $black;

      //this is something that will probably have to be set manually on a case by case level, this should handle common cases though
      top: 97%;
    }
  }

  &.shadow {
    .content {
      border: none;
      box-shadow: 0 0 5px $gray;
    }
  }

  &.left {
    .content {
      left: auto;
      right: 0;
      border-radius: 3px 0 3px 3px;
    }
  }

  &.square {
    button {
      &.square {
        border-radius: 0;
      }
    }
    .content {
      border-radius: 0;
    }
  }
}