/**
 * @title Cards
 * @section Cards
 *
 * A card is a generic content container that can content a header and content section indicated by the `content` class.
 *
 * ```html
 * <div class="card">
 *   <header>Title</header>
 *   <div class="content">
 *     Some content for this card
 *   </div>
 * </div>
 * ```
 */
.card {
  position: relative;
  display: inline-block;
  margin: $margin-card;
  border-radius: $border-radius-card;
  border: $border-card;

  header {
    @include clearfix;
    border-radius: $border-radius-card $border-radius-card 0 0;
    color: $color-header-card;
    font-weight: $font-weight-header-card;
    padding: $padding-header-card;
    background-color: $background-color-header-card;
    position: relative;

    ~ .content {
      border-radius: 0 0 $border-radius-card $border-radius-card;
    }

    /**
     * @section Cards
     * @subsection Header Border
     *
     * You can add a border to the header by adding the `border` class to the header.
     *
     * ```html
     * <div class="card">
     *   <header class="border">Title</header>
     *   <div class="content">
     *     Some content for this card
     *   </div>
     * </div>
     * ```
     */
    &.border {
      border-bottom: $border-bottom-header-card;
      border-radius: $border-radius-card $border-radius-card 0 0;
    }

    /**
     * @section Cards
     * @subsection Header Actions
     *
     * You can provide actions element to the header by adding the `actions` class to the element in the header.
     *
     * ```html
     * <div class="card">
     *   <header>Title<span class="actions close"><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/x.svg" /></span></header>
     *   <div class="content">
     *     Some content for this card
     *   </div>
     * </div>
     * ```
     *
     * You can even have multiple actions.
     *
     * ```html
     * <div class="card">
     *   <header>Title<span class="actions close"><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/question-mark.svg" /><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/x.svg" /></span></header>
     *   <div class="content">
     *     Some content for this card
     *   </div>
     * </div>
     * ```
     */
    > .actions {
      cursor: pointer;
      position: absolute;
      top: $top-header-actions-card;
      right: $right-header-actions-card;;

      .svg-icon {
        fill: $color-header-card;
        width: $width-header-actions-icon-card;
        height: $height-header-actions-icon-card;
        margin-left: $margin-left-header-actions-icon-card;

        &last-child {
          margin-left: 0;
        }
      }
    }
  }

  .content {
    border-radius: $border-radius-card;
    background-color: $background-color-content-card;
    padding: $padding-content-card;
  }
}
