.extend-text {
  .container {
    position: relative;

    &.auto-complete {
      &.is-active {
        .display {
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0 1px 1px 0;
  }

  ul {
    list-style: none;
    cursor: text;
  }

  li {
    cursor: pointer;
  }

  .tag-container {
    position: absolute;
    z-index: 2;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      float: left;
    }
  }

  .tag {
    display: inline-block;
    margin-right: 6px;
    float: left;
    position: relative;

    &.selected {
      .text {
        border: 1px solid rgb(255, 0, 0);
      }
    }

    .text {
      display: inline-block;
      background-color: rgb(184, 215, 235);
      border: 1px solid rgb(95, 134, 142);
      border-radius: 2px;
      padding: 0 2px;
    }

    .remove {
      position: relative;
      left: 1px;
      cursor: pointer;
    }
  }

  .display {
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    height: inherit;
  }

  .auto-complete-options {
    position: absolute;
    border: 2px solid shade($input-border-color, $darken-border-percent);
    box-sizing: border-box;
    background-color: $white;
    z-index: 1;
    border-top: none;

    li {
      padding: 3px 6px;
    }

    .is-focused {
      background: #E1E9F6;
    }
  }

  .new-indicator {
    position: absolute;
    top: 15px;
    right: 8px;
  }
}

//validation
.invalid {
  .extend-text {
    .auto-complete-options {
      //display the darkened version as this should never show when the input is not selected
      border-color: shade($error-border-color, $darken-border-percent);
    }
  }
}

.valid {
  .extend-text {
    .auto-complete-options {
      //display the darkened version as this should never show when the input is not selected
      border-color: shade($success-border-color, $darken-border-percent);
    }
  }
}
