/**
 * @section Feature Indicator
 *
 * This is an element that should be used to indicate features to new users or new features to all users.
 *
 * ```html
 * <div style="width: 24px; height: 24px; border: 1px solid black;">
 *   <div class="revealing-panel center">
 *     <div class="feature-indicator handle">
 *       <span class="indicator"></span>
 *     </div>
 *     <div class="site-overlay"></div>
 *     <div class="content">
 *       This would be the description of the new feature.  Press escape to close.
 *     </div>
 *   </div>
 * </div>
 * ```
 *
 * <script type="text/javascript">
 * $(document).ready(function() {
 *   $('.revealing-panel').click(function(event) {
 *     event.preventDefault();
 *     $('.revealing-panel').addClass('is-active');
 *     $('.site-overlay').addClass('is-active');
 *     $('.feature-indicator').remove();
 *   });
 *
 *   $(document).keydown(function(event) {
 *     if(event.which === 27) {
 *       $('.revealing-panel').removeClass('is-active').remove();
 *     }
 *   });
 * });
 * </script>
 */
.feature-indicator {
  @include animation(feature-indicator-fade $duration-fade-animation-feature-indicator linear 0s infinite);
  display: inline-block;
  position: absolute;
  border: $border-size-feature-indicator solid $background-color-feature-indicator;
  cursor: pointer;
  border-radius: 50%;

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    @include animation(indicator-fade $duration-fade-animation-feature-indicator linear 0s infinite);
    display: inline-block;
    border-radius: 50%;
    background-color: $background-color-feature-indicator;
  }
}

@include keyframes(indicator-fade) {
  0% {
    opacity: $opacity-start-feature-indicator;
    width: $size-start-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    height: $size-start-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    margin: $border-content-margin-feature-indicator;
  }

  50% {
    opacity: $opacity-end-feature-indicator;
    width: $size-end-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    height: $size-end-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    margin: $border-content-margin-feature-indicator;
  }

  100% {
    opacity: $opacity-start-feature-indicator;
    width: $size-start-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    height: $size-start-feature-indicator - ($border-content-margin-feature-indicator * 2 + $border-size-feature-indicator * 2) - $border-size-feature-indicator;
    margin: $border-content-margin-feature-indicator;
  }
}

@include keyframes(feature-indicator-fade) {
  0% {
    width: $size-start-feature-indicator - $border-size-feature-indicator;
    height: $size-start-feature-indicator - $border-size-feature-indicator;
    margin: ($size-end-feature-indicator - $size-start-feature-indicator) / 2;
    border-color: transparentize($background-color-feature-indicator, .7);
  }

  50% {
    width: $size-end-feature-indicator - $border-size-feature-indicator;
    height: $size-end-feature-indicator - $border-size-feature-indicator;
    margin: 0;
    border-color: transparentize($background-color-feature-indicator, .9);
  }

  100% {
    width: $size-start-feature-indicator - $border-size-feature-indicator;
    height: $size-start-feature-indicator - $border-size-feature-indicator;
    margin: ($size-end-feature-indicator - $size-start-feature-indicator) / 2;
    border-color: transparentize($background-color-feature-indicator, .7);
  }
}
