/**
 * @section Forms
 *
 * These are the styles available for displaying forms.
 *
 * By default, `label` and `input` elements each display on there own line unless the `input` is wrapped within the `label`.
 *
 * ```html
 * <form>
 *   <div>
 *     <label for="first-name">First Name</label>
 *     <input id="first-name" type="text" />
 *   </div>
 *   <div>
 *     <label for="last-name">Last Name</label>
 *     <input id="last-name" type="text" />
 *   </div>
 *   <div>
 *     <label for="is-active"><input id="is-active" type="checkbox" /> Is Active</label>
 *   </div>
 *   <div>
 *     <label for="country">Select Country</label>
 *     <select id="country">
 *       <option>USA</option>
 *       <option>Other</option>
 *     </select>
 *   <div>
 *   <div>
 *     <label>Is Admin</label>
 *     <input id="is-admin-yes" name="isAdmin" type="radio"> <label for="is-admin-yes" />Yes</label>
 *     <input id="is-admin-no" name="isAdmin" type="radio" /> <label for="is-admin-no">No</label>
 *   </div>
 * </form>
 * ```
 */
form {
  /**
   * @section Forms
   * @subsection Compact
   *
   * If you wish labels and input to be displayed on the same line regardless of how the dom is structure, add the `compact` class to the form.
   *
   * ```html
   * <form class="compact">
   *   <div>
   *     <label for="first-name">First Name</label>
   *     <input id="first-name" type="text" />
   *   </div>
   *   <div>
   *     <label for="last-name">Last Name</label>
   *     <input id="last-name" type="text" />
   *   </div>
   *   <div>
   *     <input id="is-active" type="checkbox" /> <label for="is-active">Is Active</label>
   *   </div>
   *   <div>
   *     <label for="country">Select Country</label>
   *     <select id="country">
   *       <option>USA</option>
   *       <option>Other</option>
   *     </select>
   *   <div>
   *   <div>
   *     <label>Is Admin</label>
   *     <input id="is-admin-yes" name="isAdmin" type="radio"> <label for="is-admin-yes" />Yes</label>
   *     <input id="is-admin-no" name="isAdmin" type="radio" /> <label for="is-admin-no">No</label>
   *   </div>
   * </form>
   * ```
   */
  &.compact {
    label,
    .label {
      display: inline-block;
      text-align: $text-align-compact-label;
      padding-right: $padding-compact-label;
    }
  }

  .input-text {
    display: inline-block;
  }
}

label,
.label {
  display: block;
  margin: $margin-label;
}

//label that come after the input (like radio/checkboxes) should be inline-block regardless if it is in a compact form
input ~ label {
  display: inline-block;
}

input:not([type]),
input[type="text"],
textarea {
  border-radius: $border-radius-input;
  border: $border-input;
  padding: $padding-input;
  outline: none;

  &:focus {
    border-color: $border-color-notice;
    box-shadow: $box-shadow-focused-input;
  }
}

input[type="radio"],
input[type="checkbox"] {
}

input[disabled] {
  opacity: $opacity-disabled-input;
}

select {
  background: transparent;
  border: 0;
  border-radius: $border-radius-input;
  height: $height-select;
  outline: none;
  border: $border-input;
}
