@font-face {
  font-family: 'nag-icon-font';
  src:url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.eot');
  src:url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.eot?#iefix') format('embedded-opentype'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.svg#entypo') format('svg'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.woff') format('woff'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class*="nag-icon-font-"]:before,
[class*="nag-icon-font-"]:after {
  @extend %nag-icon-font;
}
