@font-face {
  font-family: 'nag-icon-font';
  src:url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.eot');
  src:url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.eot?#iefix') format('embedded-opentype'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.svg#entypo') format('svg'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.woff') format('woff'),
  url('../../components/nucleus-angular-sass-framework/assets/fonts/nag-icon-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class*="nag-icon-font-"]:before,
[class*="nag-icon-font-"]:after {
  @extend %nag-icon-font;
}

.nag-icon-font-first:before {
  content: "\e000";
}
.nag-icon-font-backward:before {
  content: "\e001";
}
.nag-icon-font-forward:before {
  content: "\e002";
}
.nag-icon-font-last:before {
  content: "\e003";
}
.nag-icon-font-arrow-up:before {
  content: "\e004";
}
.nag-icon-font-arrow-right:before {
  content: "\e005";
}
.nag-icon-font-arrow-down:before {
  content: "\e006";
}
.nag-icon-font-arrow-left:before {
  content: "\e007";
}
.nag-icon-font-arrow-top-down:before {
  content: "\e008";
}
.nag-icon-font-gear:before {
  content: "\e009";
}
.nag-icon-font-warning-triangle:before {
  content: "\e00a";
}
.nag-icon-font-success-circle:before {
  content: "\e00b";
}
.nag-icon-font-notice-circle:before {
  content: "\e00c";
}
.nag-icon-font-error-circle:before {
  content: "\e00d";
}
.nag-icon-font-x:before {
  content: "\e00e";
}
