input[type="text"] {
    border-radius: 5px;
    border: 2px solid $gray;
    padding: 5px;
    margin: 8px 0;
    outline: none;
    box-shadow: inset 0px 0px 15px $gray-lighter;

    &:focus {
        border-color: $gray-darker;
    }

    &.ng-invalid {
        border-color: $red;

        &:focus {
            border-color: $red-dark;
        }
    }

    &.ng-valid {
        border-color: $green;

        &:focus {
            border-color: $green-dark;
        }
    }
}