/**
 * @section Messages
 *
 * Messages are elements to display a piece of information that stands out from most of the other content.
 *
 * ```html
 * <div class="message">
 *   <header>This is a generic message</header>
 * </div>
 * ```
 */
.message {
  //can't add position in this is a notify element because they should be fixed possiton
  &:not(.notify) {
    position: relative;
  }

  display: inline-block;
  padding: $padding-message;
  border: $border-message;
  border-left-width: $border-left-width-message;
  border-radius: $border-radius;

  /**
   * @section Messages
   * @subsection Header
   *
   * Messages can have a header.
   *
   * If you are using an icon, then you must wrap you message content in an element with the `content` class.
   *
   * ```html
   * <div class="message">
   *   <header>
   *     This is a generic message.
   *   </header>
   * </div>
   * ```
   *
   * Header can also have an icon my adding the `with-icon` class to the header.
   *
   * ```html
   * <div class="message safe">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" />This is a safe message.
   *   </header>
   * </div>
   * ```
   */
  header {
    position: relative;
    font-size: $font-size-header-message;

    &.with-icon {
      padding-left: $size-icon-message + ($font-size-header-message / 4);
    }
  }

  .icon {
    position: absolute;
    bottom: $bottom-icon-message;
    left: $left-icon-message;
    width: $size-icon-message;
    height: $size-icon-message;
  }

  /**
   * @section Messages
   * @subsection Content
   *
   * In addition to a header, you can also have content for the message.
   *
   * ```html
   * <div class="message safe">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" />This is a safe message.
   *   </header>
   *   <div class="content">
   *     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae quam imperdiet, mollis lorem in, volutpat diam. Donec fermentum, tortor non consequat posuere, turpis mauris fringilla lorem, vel laoreet magna nulla sed lectus. Sed ac ullamcorper orci. Praesent pulvinar ex.<p>
   *     <ul>
   *       <li>Item 1</li>
   *       <li>Item 2</li>
   *       <li>Item 3</li>
   *       <li>Item 4</li>
   *     </ul>
   *   </div>
   * </div>
   * ```
   *
   * You can also have content with a header.
   *
   * ```html
   * <div class="message safe">
   *   <div class="content">
   *     Some simple message.
   *   </div>
   * </div>
   * ```
   */
  .content {
  }

  /**
   * @section Messages
   * @subsection States
   *
   * There are a number of different states that a message can be in that determine the coloring on the message box.
   *
   * You can add the `safe` class to add a greenish color.
   *
   * ```html
   * <div class="message safe">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" />This is a safe message.
   *   </header>
   * </div>
   * ```
   *
   * You can add the `notice` class to add a blueish color.
   *
   * ```html
   * <div class="message notice">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/info.svg" />This is a notice message.
   *   </header>
   * </div>
   * ```
   *
   * You can add the `caution` class to add a yellowish color.
   *
   * ```html
   * <div class="message caution">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/question-mark.svg" />This is a caution message.
   *   </header>
   * </div>
   * ```
   *
   * You can add the `danger` class to add a redish color.
   *
   * ```html
   * <div class="message danger">
   *   <header class="with-icon">
   *     <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/x.svg" />This is a danger message.
   *   </header>
   * </div>
   * ```
   */
  &.safe {
    background-color: $background-color-safe;
    fill: $border-color-safe;
    border-color: $border-color-safe;

    header {
      color: $color-safe;
    }
  }

  &.notice {
    background-color: $background-color-notice;
    fill: $border-color-notice;
    border-color: $border-color-notice;

    header {
      color: $color-notice;
    }
  }

  &.caution {
    background-color: $background-color-caution;
    fill: $border-color-caution;
    border-color: $border-color-caution;

    header {
      color: $color-caution;
    }
  }

  &.danger {
    background-color: $background-color-danger;
    fill: $border-color-danger;
    border-color: $border-color-danger;

    header {
      color: $color-danger;
    }
  }
}
