/**
 * @section Messages
 *
 * Messages are elements to display a piece of information that stands out from most of the other content.
 *
 * ```html
 * <div class="message">This is a generic message.</div>
 * ```
 */
.message {
  //can't add position in this is a notify element because they should be fixed possiton
  &:not(.notify) {
    position: relative;
  }

  display: inline-block;
  padding: $padding-message;
  border: $border-message;
  border-radius: $border-radius;

  /**
   * @section Messages
   * @subsection Icon
   *
   * Messages element can also have an icon.
   *
   * If you are using an icon, then you must wrap you message content in an element with the `content` class.
   *
   * ```html
   * <div class="message">
   *   <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" />
   *   <div class="content">This is a generic message.</div>
   * </div>
   * ```
   */
  .icon {
    position: absolute;
    top: $top-icon-message;
    left: $left-icon-message;
    width: $width-icon-message;
    height: $height-icon-message;
    padding: $padding-icon-message;
    border-radius: $border-radius-icon-message;
  }

  .content {
    margin-left: $width-icon-message;
  }

  /**
   * @section Messages
   * @subsection States
   *
   * There are a number of different states that a message can be in that determine the coloring on the message box.
   *
   * You can add the `safe` class to add a greenish color.
   *
   * ```html
   * <div class="message safe">
   *   <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" />
   *   <div class="content">This is a generic message.</div>
   * </div>
   * ```
   *
   * You can add the `notice` class to add a blueish color.
   *
   * ```html
   * <div class="message notice">
   *   <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/info.svg" />
   *   <div class="content">This is a generic message.</div>
   * </div>
   * ```
   *
   * You can add the `caution` class to add a yellowish color.
   *
   * ```html
   * <div class="message caution">
   *   <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/question-mark.svg" />
   *   <div class="content">This is a generic message.</div>
   * </div>
   * ```
   *
   * You can add the `danger` class to add a redish color.
   *
   * ```html
   * <div class="message danger">
   *   <img class="icon svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/x.svg" />
   *   <div class="content">This is a generic message.</div>
   * </div>
   * ```
   */
  &.safe {
    background-color: $background-color-safe;
    color: $color-safe;
    fill: $background-color-safe;
    border-color: $border-color-safe;

    .icon {
      background-color: $border-color-safe;
    }
  }

  &.notice {
    background-color: $background-color-notice;
    color: $color-notice;
    fill: $background-color-notice;
    border-color: $border-color-notice;

    .icon {
      background-color: $border-color-notice;
    }
  }

  &.caution {
    background-color: $background-color-caution;
    color: $color-caution;
    fill: $background-color-caution;
    border-color: $border-color-caution;

    .icon {
      background-color: $border-color-caution;
    }
  }

  &.danger {
    background-color: $background-color-danger;
    color: $color-danger;
    fill: $background-color-danger;
    border-color: $border-color-danger;

    .icon {
      background-color: $border-color-danger;
    }
  }
}
