@mixin gradient-striped($angle: 45deg) {
  background-image: -webkit-linear-gradient(
    $angle, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent
  );
  background-image: -moz-linear-gradient(
    $angle, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent
  );
  background-image: -ms-linear-gradient(
    $angle, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent
  );
  background-image: -o-linear-gradient(
    $angle, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent
  );
  background-image: linear-gradient(
    $angle, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent
  );
}

@mixin bordered-triangle($parameters: ()) {
  $parameters: map-merge((
    border-color: $color-gray,
    background-color: $color-tundora-l50,
    direction: up,
    arrow-size: 1.4rem
  ), $parameters);

  $default-properties: (
    up: (
      background-properties: (
        top: -1.3rem,
        left: 50%,
        margin-left: -0.7rem
      ),
      border-properties: (
        top: -1.4rem,
        left: 50%,
        margin-left: -0.7rem
      )
    ),
    down: (
      background-properties: (
        bottom: -1.3rem,
        left: 50%,
        margin-left: -0.7rem
      ),
      border-properties: (
        bottom: -1.4rem,
        left: 50%,
        margin-left: -0.7rem
      )
    ),
    left: (
      background-properties: (
        top: 50%,
        left: -1.3rem,
        margin-top: -0.7rem
      ),
      border-properties: (
        top: 50%,
        left: -1.4rem,
        margin-top: -0.7rem
      )
    ),
    right: (
      background-properties: (
        top: 50%,
        right: -1.3rem,
        margin-top: -0.7rem
      ),
      border-properties: (
        top: 50%,
        right: -1.4rem,
        margin-top: -0.7rem
      )
    )
  );

  $direction: map-get($parameters, direction);
  $border-color: map-get($parameters, border-color);
  $background-color: map-get($parameters, background-color);
  $arrow-size: map-get($parameters, arrow-size);
  $background-properties: ();
  $border-properties: ();

  @if map-has-key($parameters, background-properties) {
    $background-properties: map-merge(map-get(map-get($default-properties, $direction), background-properties), map-get($parameters, background-properties));
  } @else {
    $background-properties: map-get(map-get($default-properties, $direction), background-properties);
  }

  @if map-has-key($parameters, border-properties) {
    $border-properties: map-merge(map-get(map-get($default-properties, $direction), border-properties), map-get($parameters, border-properties));
  } @else {
    $border-properties: map-get(map-get($default-properties, $direction), border-properties);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    @include triangle($arrow-size, $border-color, $direction);

    @each $css-property, $css-property-value in $border-properties {
      #{$css-property}: $css-property-value;
    }
  }

  &:after {
    @include triangle($arrow-size, $background-color, $direction);

    @each $css-property, $css-property-value in $background-properties {
      #{$css-property}: $css-property-value;
    }
  }
}

@mixin user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

