/**
 * @section Progress Bars
 *
 * Progress bars are used to indicate the system is doing something.
 *
 * ```html
 * <div class="progress-bar">
 *   <div class="indicator"></div>
 * </div>
 * ```
 *
 * You give the `indicator` and width percentage from `1%` to `100%`, to indicator the progress.
 *
 * ```html
 * <div class="progress-bar">
 *   <div class="indicator" style="width: 25%;"></div>
 * </div>
 * <div class="progress-bar">
 *   <div class="indicator" style="width: 50%;"></div>
 * </div>
 * <div class="progress-bar">
 *   <div class="indicator" style="width: 75%;"></div>
 * </div>
 * ```
 */
.progress-bar {
  border: $border-progress-bar;
  position: relative;
  display: inline-block;
  min-width: $min-width-progress-bar;
  height: $height-progress-bar;
  overflow: hidden;
  cursor: pointer;
  border-radius: $border-radius-progress-bar;

  .indicator {
    position: absolute;
    display: block;
    height: $height-progress-bar;
    background-color: $background-color-indicator-progress-bar;
  }

  /**
   * @section Progress Bars
   * @subsection States
   *
   * There are a number of different states that a progress bar can be in that determine the coloring on the progress bar.
   *
   * You can add the `safe` class to add a greenish color.
   *
   * ```html
   * <div class="progress-bar safe">
   *   <div class="indicator" style="width: 50%;"></div>
   * </div>
   * ```
   *
   * You can add the `notice` class to add a blueish color.
   *
   * ```html
   * <div class="progress-bar notice">
   *   <div class="indicator" style="width: 50%;"></div>
   * </div>
   * ```
   *
   * You can add the `caution` class to add a yellowish color.
   *
   * ```html
   * <div class="progress-bar caution">
   *   <div class="indicator" style="width: 50%;"></div>
   * </div>
   * ```
   *
   * You can add the `danger` class to add a redish color.
   *
   * ```html
   * <div class="progress-bar danger">
   *   <div class="indicator" style="width: 50%;"></div>
   * </div>
   * ```
   */
  &.safe {
    border-color: $border-color-safe;

    .indicator {
      background-color: darken($background-color-safe, $percentage-darker);
    }
  }

  &.notice {
    border-color: $border-color-notice;

    .indicator {
      background-color: darken($background-color-notice, $percentage-darker);
    }
  }

  &.caution {
    border-color: $border-color-caution;

    .indicator {
      background-color: $background-color-caution;
    }
  }

  &.danger {
    border-color: $border-color-danger;

    .indicator {
      background-color: darken($background-color-danger, $percentage-darkest);
    }
  }
}
