/**
 * @section Search Query
 *
 * One of the features of the extend text element is the search query feature that lets you build a search query when queries advance information.  This does
 * provide some specific styling of it's own.  Note that the search query can only work with the textarea box and not the input text box.
 */
.parsing {
  /**
   * @section Search Query
   * @subsection Input Container
   *
   * In order to property display the search query is different states, the input for the search query must be wrapped in an element with the `inputs` class.
   *
   * ```html
   * <div class="extend-text parsing">
   *   <div class="inputs">
   *     <textarea class="display"></textarea>
   *   </div>
   * </div>
   * ```
   */
  .inputs {
    height: $height-inputs-sq;
    /**
     * @section Search Query
     * @subsection States
     *
     * A search query element can be in different states which are applied to the element with the `inputs` class.
     *
     * This first state is an empty state indicated by the `empty` class.
     *
     * ```html
     * <div class="extend-text parsing">
     *   <div class="inputs empty">
     *     <textarea class="display" /></textarea>
     *   </div>
     * </div>
     * ```
     *
     * The state is an invalid state indicated by the `invalid` class.
     *
     * ```html
     * <div class="extend-text parsing">
     *   <div class="inputs invalid">
     *     <textarea class="display">firstName = 'John</textarea>
     *   </div>
     * </div>
     * ```
     *
     * The last state is a valid state indicated by the `valid` class.
     *
     * ```html
     * <div class="extend-text parsing">
     *   <div class="inputs valid">
     *     <textarea class="display">firstName = 'John'</textarea>
     *   </div>
     * </div>
     * ```
     */
    &.invalid {
      textarea {
        border-color: $border-color-danger;
        background-color: $background-color-danger;
      }

      .validation-icon {
        fill: $color-danger;
      }
    }

    &.valid {
      textarea {
        border-color: $border-color-safe;
        background-color: $background-color-safe;
      }

      .validation-icon {
        fill: $color-safe;
      }
    }

    &.empty {
      .validation-icon {
        fill: $color-icon-empty-sq;
      }
    }
  }

  .input-container {
    position: relative;
    display: inline-block;
  }

  textarea {
    //the size of the textarea is something the a javascript component should handle
    resize: none;

    //add padding to make room for the validation icon
    padding-right: $padding-textarea-sq;
  }

  /**
   * @section Search Query
   * @subsection Tooltip
   *
   * The search query can also provide a validation tooltip to provide additional help/visual queue on the state of the search query
   *
   * ```html
   * <div class="extend-text parsing">
   *   <div class="inputs empty">
   *     <textarea class="display" /></textarea>
   *     <div class="tooltip help">
   *       <span class="handle validation-icon"><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/question-mark.svg" /></span>
   *       <div class="content" style="width: 202px;">State typing you search query</div>
   *     </div>
   *   </div>
   * </div>
   * ```
   *
   * ```html
   * <div class="extend-text parsing">
   *   <div class="inputs invalid">
   *     <textarea class="display">firstName = 'John</textarea>
   *     <div class="tooltip help">
   *       <span class="handle validation-icon"><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/x.svg" /></span>
   *       <div class="content" style="width: 350px;">This is a problem with the query near "= 'John"</div>
   *     </div>
   *   </div>
   * </div>
   * ```
   *
   * ```html
   * <div class="extend-text parsing">
   *   <div class="inputs valid">
   *     <textarea class="display">firstName = 'John'</textarea>
   *     <div class="tooltip help">
   *       <span class="handle validation-icon"><img class="svg-icon" src="http://cdn.jsdelivr.net/open-iconic/1.1.0/svg/check.svg" /></span>
   *       <div class="content" style="width: 84px;">Query valid</div>
   *     </div>
   *   </div>
   * </div>
   * ```
   */
  .tooltip {
    position: absolute;
    top: $top-tooltip-sq;
    right: $right-tooltip-sq;

    .handle {
      cursor: pointer;
    }

    .content {
      text-align: $text-align-tooltip-content-sq;
      border: $border-tooltip-content-sq;
      border-radius: $border-radius-tooltip-content-sq;
    }
  }
}
