.site-overlay{
  //animation stuff
  @include transition(background-color .25s linear);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &.fade-enter {
    background-color: rgba(0, 0, 0, 0);

    &.fade-enter-active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &.fade-leave {
    &.fade-leave-active {
      background-color: rgba(0, 0, 0, 0 );
    }
  }
}

