/**
 * @section Site Overlay
 *
 * @TODO: make it possible to put a site overlay within an element inside of only the entire page
 * @TODO: add animation is (needs to support angular animation)
 *
 * A site overlay is an element that fades everything behind it (z-index wise) in order to focus attention to anything above the site overlay.
 *
 * ```html
 * <a class="show-site-overlay" href>click me to show site overlay (auto removed in 2 seconds)</a>
 * <div class="site-overlay"></div>
 * ```
 *
 * <script type="text/javascript">
 * $(document).ready(function() {
 *   $('.show-site-overlay').click(function(event) {
 *     event.preventDefault();
 *     $('.site-overlay').addClass('is-active');
 *
 *     setTimeout(function() {
 *     $('.site-overlay').removeClass('is-active');
 *     }, 2000);
 *   });
 * });
 * </script>
 */
.site-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color-so;
    opacity: $opacity-so;
    z-index: $z-index-so;
    display: none;

    &.is-active {
        display: block;
    }

    //angular animation stuff
    /*&.is-active-add,
    &.is-active-remove {
        @include transition(opacity .25s linear);
        display: block;
    }

    &.is-active-add {
        opacity: 0;
    }

    &.is-active-add.is-active-add-active {
        opacity: 0.5;
    }

    &.is-active-remove {
        opacity: 0.5;
    }

    &.is-active-remove.is-active-remove-active {
        opacity: 0;
    }*/
}
