/**
 * @section Tabs
 *
 * Tabs allow you segment data and use the same screen space.
 *
 * Tabs are contained in an element with the `tabs-container` class and each tab should also have the `tab` class.
 *
 * Tab contents are in elements with the `tab-content` class.
 *
 * The active tab and tab content should have the `is-active` class.
 *
 * ```html
 * <div class="tabs">
 *   <div class="tabs-container">
 *     <span class="tab">Tab 1</span>
 *     <span class="tab is-active">Tab 2</span>
 *   </div>
 *   <div class="tab-content">Tab content 1</div>
 *   <div class="tab-content is-active">Tab content 2</div>
 * <div>
 * ```
 */
.tabs,
.tabs-container {
  margin: $margin-tabs;
  padding: $padding-tabs;
}

.tabs .tab {
  padding: $padding-tab-tabs;
  display: inline-block;
  border: $border-tabs;
  border-bottom: none;
  cursor: pointer;
}

.tabs .tab.is-active {
  background-color: $background-color-tab-is-active-tabs;
}

.tabs .tab-content {
  display: none;
}

.tabs .tab-content.is-active {
  border-top: $border-tabs;
  display: block;
}
