.success-text {
  color: $success-text-color;
}

.notice-text {
  color: $notice-text-color;
}

.warning-text {
  color: $warning-text-color;
}

.error-text,
.danger-text {
  color: $error-text-color;
}