/**
 * @section Variables
 *
 * There are a number of pre-defined global variables that you can use.
 */
/**
 * @section Variables
 * @subsection Colors
 *
 * These are the only color that should be used within the application.
 */
/**
 * @var $color-rosewood
 */
$color-rosewood: hsla(2.2, 100%, 16.1%, 1);

/**
 * @var $color-maroon
 */
$color-maroon: hsla(1, 100%, 23.9%, 1);

/**
 * @var $color-medium-carmine
 * @var $color-medium-carmine-l50
 * @var $color-medium-carmine-d30
 */
$color-medium-carmine: hsla(1, 51.7%, 45.5%, 1);
$color-medium-carmine-l50: hsla(1, 51.7%, 95.5%, 1);
$color-medium-carmine-d30: hsla(1, 51.7%, 15.5%, 1);

/**
 * @var $color-dawn-pink
 */
$color-dawn-pink: hsla(2.6,49.3%,72.2%,1);

/**
 * @var $color-crusoe
 */
$color-crusoe: hsla(117.8, 100%, 16.1%, 1);

/**
 * @var $color-japanese-laurel
 */
$color-japanese-laurel: hsla(120.5, 100%, 24.7%, 1);

/**
 * @var $color-apple
 * @var $color-apple-l50
 * @var $color-apple-d30
 */
$color-apple: hsla(117, 51.7%, 45.5%, 1);
$color-apple-l50: hsla(117, 51.7%, 95.5%, 1);
$color-apple-d30: hsla(117, 51.7%, 15.5%, 1);

/**
 * @var $color-panache
 */
$color-panache: hsla(120, 40.5%, 92.7%, 1);

/**
 * @var $color-downriver
 */
$color-downriver: rgba(9, 24, 80, 1);

/**
 * @var $color-dark-blue
 */
$color-dark-blue: hsla(239.3, 100%, 33.5%, 1);

/**
 * @var $color-san-marino
 */
$color-san-marino: hsla(226.7, 47.3%, 46.9%, 1);

/**
 * @var $color-chetwode-blue
 */
$color-chetwode-blue: hsla(223.1, 54.1%, 69.2%, 1);

/**
 * @var $color-snuff
 */
$color-snuff: hsla(240, 40.5%, 92.7%, 1);

/**
 * @var $color-olive
 */
$color-olive: hsla(60, 100%, 24.7%, 1);

/**
 * @var $color-rio-grande
 */
$color-rio-grande: rgba(207, 207, 0, 1);

/**
 * @var $color-yellow
 */
$color-yellow: hsla(60, 100%, 50%, 1);

/**
 * @var $color-portafino
 */
$color-portafino: hsla(60.8, 100%, 85.3%, 1);

/**
 * @var $color-black
 */
$color-black: hsla(0, 0%, 0%, 1);

/**
 * @var $color-tundora
 */
$color-tundora: hsla(0, 0%, 25.5%, 1);
$color-tundora-l50: hsla(0, 0%, 75.5%, 1);

/**
 * @var $color-gray
 */
$color-gray: hsla(0, 0%, 50%, 1);

/**
 * @var $color-silver-chalice
 */
$color-silver-chalice: hsla(0, 0%, 66.7%, 1);

/**
 * @var $color-silver
 * @var $color-silver-d20
 */
$color-silver: hsla(0, 0%, 80.4%, 1);
$color-silver-d20: hsla(0, 0%, 60.4%, 1);

/**
 * @var $color-gallery
 */
$color-gallery: hsla(0, 0%, 93.7%, 1);

/**
 * @var $color-white
 * @var $color-white-d15
 */
$color-white: hsla(0, 0%, 100%, 1);
$color-white-d15: hsla(0, 0%, 85%, 1);

/**
 * @section Variables
 * @subsection Percentage
 *
 * General percentage values.
 *
 * @todo see if we can get rid of these
 *
 * @var $percentage-dark
 * @var $percentage-darker
 * @var $percentage-darkest
 * @var $percentage-light
 * @var $percentage-lighter
 * @var $percentage-lightest
 */
$percentage-dark: 10%;
$percentage-darker: 20%;
$percentage-darkest: 30%;

$percentage-light: 10%;
$percentage-lighter: 20%;
$percentage-lightest: 30%;

/**
 * @section Variables
 * @subsection Font
 *
 * Variables that deal with fonts.
 *
 * @var $font-size
 * @var $font-family
 */
$font-size: 1.3rem;
$font-family: sans-serif;

/**
 * @section Variables
 * @subsection Valid Colors
 *
 * These are colors used to indicator something is valid.
 *
 * @var $border-color-valid
 * @var $background-color-valid
 * @var $color-valid
 */
$border-color-valid: $color-apple;
$background-color-valid: $color-apple-l50;
$color-valid: $color-japanese-laurel;

/**
 * @section Variables
 * @subsection Invalid Colors
 *
 * These are colors used to indicator something is invalid.
 *
 * @var $border-color-invalid
 * @var $background-color-invalid
 * @var $color-invalid
 */
$border-color-invalid: $color-medium-carmine;
$background-color-invalid: $color-medium-carmine-l50;
$color-invalid: $color-maroon;

/**
 * @section Variables
 * @subsection Forms
 *
 * These are variables used for from styles
 *
 * @var $border-input
 * @var $box-shadow-input
 * @var $box-shadow-focus-input
 */
$border-input: 2px solid shade($color-gray, $percentage-darkest);
$box-shadow-input: inset 0px 0px 15px $color-gallery;
$box-shadow-focus-input: inset 0px 0px 15px shade($color-gallery, $percentage-darkest);

//neat variables
$max-width: 100%;
