/**
 * @section Variables
 *
 * There are a number of pre-defined global variables that you can use.
 */
/**
 * @section Variables
 * @subsection Colors
 *
 * These are the only color that should be used within the application.
 */
/**
 * @var $color-rosewood
 */
$color-rosewood: hsla(2.2, 100%, 16%, 1) !default;

/**
 * @var $color-maroon
 */
$color-maroon: hsla(1, 100%, 23%, 1) !default;

/**
 * @var $color-medium-carmine
 * @var $color-medium-carmine-l50
 * @var $color-medium-carmine-d30
 */
$color-medium-carmine: hsla(1, 51%, 45%, 1) !default;
$color-medium-carmine-l50: hsla(1, 51%, 98%, 1) !default;
$color-medium-carmine-d30: hsla(1, 51%, 15%, 1) !default;

/**
 * @var $color-dawn-pink
 */
$color-dawn-pink: hsla(2.6,49%,72%,1) !default;

/**
 * @var $color-crusoe
 */
$color-crusoe: hsla(117.8, 100%, 16%, 1) !default;

/**
 * @var $color-japanese-laurel
 */
$color-japanese-laurel: hsla(120.5, 100%, 24%, 1) !default;

/**
 * @var $color-apple
 * @var $color-apple-l50
 * @var $color-apple-d30
 */
$color-apple: hsla(117, 51%, 45%, 1) !default;
$color-apple-l50: hsla(117, 51%, 98%, 1) !default;
$color-apple-d30: hsla(117, 51%, 15%, 1) !default;

/**
 * @var $color-panache
 */
$color-panache: hsla(120, 40%, 92%, 1) !default;
$color-gold-sand: hsla(28.5, 67.3%, 71.2%, 1.0) !default;

/**
 * @var $color-downriver
 */
$color-downriver: rgba(9, 24, 80, 1) !default;

/**
 * @var $color-dark-blue
 */
$color-dark-blue: hsla(239.3, 100%, 33%, 1) !default;

/**
 * @var $color-san-marino
 */
$color-san-marino: hsla(226.7, 47%, 46%, 1) !default;

/**
 * @var $color-chetwode-blue
 */
$color-chetwode-blue: hsla(223.1, 54%, 69%, 1) !default;

/**
 * @var $color-white-lilac
 */
$color-white-lilac: hsla(240, 40%, 98%, 1) !default;

/**
 * @var $color-olive
 */
$color-olive: hsla(28.7, 74.0%, 51.8%, 1.0) !default;

/**
 * @var $color-rio-grande
 */
$color-rio-grande: hsla(60.0, 100%, 40%, 1.0) !default;

/**
 * @var $color-yellow
 */
$color-yellow: hsla(60, 100%, 50%, 1) !default;

/**
 * @var $color-portafino
 */
$color-portafino: hsla(60.8, 100%, 98%, 1) !default;

/**
 * @var $color-black
 */
$color-black: hsla(0, 0%, 0%, 1) !default;

/**
 * @var $color-tundora
 */
$color-tundora: hsla(0, 0%, 25%, 1) !default;
$color-tundora-l50: hsla(0, 0%, 75%, 1) !default;

/**
 * @var $color-gray
 */
$color-gray: hsla(0, 0%, 50%, 1) !default;

/**
 * @var $color-silver-chalice
 */
$color-silver-chalice: hsla(0, 0%, 66%, 1) !default;

/**
 * @var $color-silver
 * @var $color-silver-d20
 */
$color-silver: hsla(0, 0%, 80%, 1) !default;
$color-silver-d20: hsla(0, 0%, 60%, 1) !default;

/**
 * @var $color-gallery
 */
$color-gallery: hsla(0, 0%, 93%, 1) !default;

/**
 * @var $color-white
 * @var $color-white-d15
 */
$color-white: hsla(0, 0%, 100%, 1) !default;
$color-white-d15: hsla(0, 0%, 85%, 1) !default;
$color-link-water: hsla(217.1, 53.8%, 92.4%, 1.0) !default;
$color-danube: hsla(217.2, 58.1%, 66.3%, 1.0) !default;
/**
 * @section Variables
 * @subsection Percentage
 *
 * General percentage values.
 *
 * @todo see if we can get rid of these
 *
 * @var $percentage-dark
 * @var $percentage-darker
 * @var $percentage-darkest
 * @var $percentage-light
 * @var $percentage-lighter
 * @var $percentage-lightest
 */
$percentage-dark: 10% !default;
$percentage-darker: 20% !default;
$percentage-darkest: 30% !default;

$percentage-light: 10% !default;
$percentage-lighter: 20% !default;
$percentage-lightest: 30% !default;

/**
 * @section Variables
 * @subsection Font
 *
 * Variables that deal with fonts.
 *
 * @var $font-size
 * @var $font-family
 * @var $color-text
 * @var $color-light-text
 */
$font-size: 1.3rem !default;
$font-family: sans-serif !default;
$color-text: $color-tundora !default;
$color-light-text: $color-white !default;

/**
 * @section Variables
 * @subsection Safe Colors
 *
 * These are colors used to indicator something is safe.
 *
 * @var $border-color-safe
 * @var $background-color-safe
 * @var $color-safe
 */
$border-color-safe: $color-apple !default;
$background-color-safe: $color-apple-l50 !default;
$color-safe: $color-japanese-laurel !default;

/**
 * @section Variables
 * @subsection Danger Colors
 *
 * These are colors used to indicator something is dangerous.
 *
 * @var $border-color-danger
 * @var $background-color-danger
 * @var $color-danger
 */
$border-color-danger: $color-medium-carmine !default;
$background-color-danger: $color-medium-carmine-l50 !default;
$color-danger: $color-maroon !default;

/**
 * @section Variables
 * @subsection Notice Colors
 *
 * These are colors used to indicator something is a notice.
 *
 * @var $border-color-notice
 * @var $background-color-notice
 * @var $color-notice
 */
$border-color-notice: $color-downriver !default;
$background-color-notice: $color-white-lilac !default;
$color-notice: $color-dark-blue !default;

/**
 * @section Variables
 * @subsection Caution Colors
 *
 * These are colors used to indicator something you should be cautious with.
 *
 * @var $border-color-caution
 * @var $background-color-caution
 * @var $color-caution
 */
$border-color-caution: $color-olive !default;
$background-color-caution: hsla(28.5, 67.3%, 71.2%, 1.0) !default;
$color-caution: $border-color-caution !default;

/**
 * @section Variables
 * @subsection Button Drop Downs
 *
 * These are the variables that control the looked and feel of the button drop downs.
 *
 *
 * @var $color-button-drop-down
 * @var $background-color-content-button-drop-down
 * @var $border-button-drop-down
 * @var $font-weight-button-drop-down
 * @var $border-radius-button-drop-down
 * @var $padding-content-button-drop-down
 */
$color-button-drop-down: $color-white !default;
$background-color-content-button-drop-down: darken($color-silver-chalice, $percentage-darker) !default;
$border-button-drop-down: 1px solid $color-black !default;
$font-weight-button-drop-down: 200 !default;
$border-radius-button-drop-down: 3px !default;$padding-content-button-drop-down: 5px !default;

/**
 * @section Variables
 * @subsection Buttons
 *
 * These are the variables that control the look and feel of the buttons.
 *
 *
 * @var $background-color-button-default
 * @var $color-default-button
 * @var $border-radius-button
 * @var $font-weight-button
 * @var $is-uppercased-button
 * @var $font-size-small-button
 * @var $padding-small-button
 * @var $font-size-button
 * @var $padding-button
 * @var $font-size-large-button
 * @var $padding-large-button
 * @var $font-size-largest-button
 * @var $padding-largest-button
 * @var $opacity-disabled-button
 * @var $background-color-primary-button
 * @var $background-color-caution-button
 * @var $background-color-danger-button
 * @var $background-color-safe-button
 * @var $color-primary-button
 * @var $color-caution-button
 * @var $color-danger-button
 * @var $color-safe-button
 */
$background-color-button-default: $color-silver-chalice !default;
$background-color-primary-button: $color-chetwode-blue !default;
$background-color-caution-button: $color-rio-grande !default;
$background-color-danger-button: $color-medium-carmine !default;
$background-color-safe-button: $color-apple !default;
$color-default-button: $color-white !default;
$color-primary-button: $color-white !default;
$color-caution-button: $color-white !default;
$color-danger-button: $color-white !default;
$color-safe-button: $color-white !default;
$border-radius-button: 3px !default;
$font-weight-button: 400 !default;
$is-uppercased-button: true !default;
$font-size-small-button: 1rem !default;
$padding-small-button: 3px 9px !default;
$font-size-button: 1.2rem !default;
$padding-button: 4px 12px !default;
$font-size-large-button: 1.8rem !default;
$padding-large-button: 5px 15px !default;
$font-size-largest-button: 2.4rem !default;
$padding-largest-button: 6px 18px !default;
$opacity-disabled-button: 0.5 !default;

/**
 * @section Variables
 * @subsection Cards
 *
 * These are the variables that control the look and feel of the cards.
 *
 *
 * @var $margin-card
 * @var $border-radius-card
 * @var $border-card
 * @var $background-color-content-card
 * @var $font-weight-header-card
 * @var $padding-header-card
 * @var $border-bottom-header-card
 * @var $color-header-card
 * @var $padding-content-card
 * @var $border-bottom-header-card
 * @var $background-color-header-card
 * @var $top-header-actions-card
 * @var $right-header-actions-card
 * @var $width-header-actions-icon-card
 * @var $height-header-actions-icon-card
 * @var $margin-left-header-actions-icon-card
 */
$margin-card: 15px 0 !default;
$border-radius-card: 3px !default;
$border-card: 1px solid $color-gray !default;
$background-color-content-card: $color-white !default;
$font-weight-header-card: 600 !default;
$padding-header-card: 5px !default;
$border-bottom-header-card: 1px solid $color-tundora !default;
$color-header-card: $color-chetwode-blue !default;
$padding-content-card: 8px !default;
$background-color-header-card: $color-gallery !default;
$top-header-actions-card: 5px !default;
$right-header-actions-card: 5px !default;
$margin-left-header-actions-icon-card: 3px !default;
$width-header-actions-icon-card: 11px !default;
$height-header-actions-icon-card: 11px !default;


/**
 * @section Variables
 * @subsection Extend Text
 *
 * These are the variable the control the look and feel of the extend text.
 *
 * @var $border-radius-extend-text
 * @var $top-new-indicator-extend-text
 * @var $right-new-indicator-extend-text
 */
$border-radius-extend-text: 5px !default;
$top-new-indicator-extend-text: 6px !default;
$right-new-indicator-extend-text: 8px !default;

/**
 * @section Variables
 * @subsection Tagging
 *
 * These are the variable the control the look and feel of the tagging.
 *
 * @var $margin-tag-tagging
 * @var $background-color-tag-tagging
 * @var $border-tag-tagging
 * @var $border-radius-tag-tagging
 * @var $padding-tag-tagging
 * @var $border-color-selected-tag-tagging
 * @var $width-tag-remove-icon-tagging
 * @var $height-tag-remove-icon-tagging
 */
$margin-tag-tagging: 0 6px 0 0 !default;
$background-color-tag-tagging: rgb(184, 215, 235) !default;
$border-tag-tagging: 1px solid rgb(95, 134, 142) !default;
$border-radius-tag-tagging: 2px !default;
$padding-tag-tagging: 0 2px !default;
$border-color-selected-tag-tagging: rgb(255, 0, 0) !default;
$width-tag-remove-icon-tagging: 10px !default;
$height-tag-remove-icon-tagging: 10px !default;

/**
 * @section Variables
 * @subsection Search Query
 *
 * These are the variable the control the look and feel of the search query.
 * @var $height-input-search-query
 * @var $color-icon-empty-search-query
 * @var $padding-textarea-search-query
 * @var $top-tooltip-search-query
 * @var $right-tooltip-search-query
 * @var $text-align-tooltip-content-search-query
 * @var $border-tooltip-content-search-query
 * @var $border-radius-tooltip-content-search-query
 */
$height-inputs-search-query: 25px !default;
$color-icon-empty-search-query: $color-tundora !default;
$padding-textarea-search-query: 30px !default;
$top-tooltip-search-query: 4px !default;
$right-tooltip-search-query: 5px !default;
$text-align-tooltip-content-search-query: center !default;
$border-tooltip-content-search-query: 1px solid $color-gray !default;
$border-radius-tooltip-content-search-query: 5px !default;

/**
 * @section Variables
 * @subsection Forms
 *
 * These are the variables the control the look and feel of form.
 *
 * @var $text-align-compact-label
 * @var $padding-compact-label
 * @var $border-radius-input
 * @var $border-input
 * @var $padding-input
 * @var $opacity-disabled-input
 * @var $margin-label
 * @var $box-shadow-focused-input
 * @var $height-select
 * @var $background-color-input
 * @var $width-text-input
 */
$text-align-compact-label: right !default;
$padding-compact-label: 0 10px 0 0 !default;
$border-radius-input: 5px !default;
$border-input: 1px solid shade($color-gray, $percentage-darkest) !default;
$padding-input: 4px !default;
$opacity-disabled-input: .7 !default;
$margin-label: 0 0 3px 0 !default;
$box-shadow-focused-input: 0 0 4px $border-color-notice !default;
$height-select: 19px !default;
$background-color-input: $color-white !default;
$width-text-input: 100% !default;
$margin-radio-checkbox: 3px !default;

/**
 * @section Variables
 * @subsection Input Element
 *
 * These are the elements that control the look and feel of the input element.
 *
 * @var $box-shadow-invalid-input-element
 * @var $box-shadow-valid-input-element
 * @var $padding-input-element
 * @var $position-label-validator-input-element
 * @var $top-label-validitor-input-element
 * @var $margin-label-validator-input-element
 * @var $margin-message-input-element
 */
$box-shadow-invalid-input-element: 0 0 4px $border-color-danger !default;
$box-shadow-valid-input-element: 0 0 4px $border-color-safe !default;
$padding-input-element: 5px 0 !default;
$position-label-validator-input-element: relative !default;
$top-label-validitor-input-element: 3px !default;
$margin-label-validator-input-element: 0 0 0 5px !default;
$margin-message-input-element: 10px 0 0 0 !default;

/**
 * @section Variables
 * @subsection Messages
 *
 * These are the variables that control the look and feel of messages.
 *
 * @var $padding-message
 * @var $border-message
 * @var $border-left-width-message
 * @var $border-radius
 * @var $size-icon-message
 * @var $bottom-icon-message
 * @var $left-icon-message
 * @var $font-size-header-message
 */
$padding-message: 5px !default;
$border-message: 1px solid $color-gray !default;
$border-left-width-message: 5px !default;
$border-radius: 3px !default;
$size-icon-message: 1.6rem !default;
$bottom-icon-message: 3px !default;
$left-icon-message: 0 !default;
$font-size-header-message: 1.8rem !default;

/**
 * @section Variables
 * @subsection Progress Bar
 *
 * These are the variables the control the look and feel for progress bars.
 *
 * @var $border-progress-bar
 * @var $min-width-progress-bar
 * @var $height-progress-bar
 * @var $border-radius-progress-bar
 * @var $background-color-indicator-progress-bar
 */
$border-progress-bar: 1px solid rgb(180, 180, 180) !default;
$min-width-progress-bar: 40% !default;
$height-progress-bar: 16px !default;
$border-radius-progress-bar: $height-progress-bar / 2 !default;
$background-color-indicator-progress-bar: rgb(230, 230, 230) !default;

/**
 * @section Variables
 * @subsection Revealing Panel
 *
 * These are the variables that control the look and feel of the revealing panel.
 *
 * @var $border-radius-center-revealing-panel
 * @var $border-revealing-panel
 * @var $background-color-content-revealing-panel
 * @var $padding-content-revealing-panel
 * @var $top-content-center-revealing-panel
 * @var $max-height-content-center-revealing-panel
 */
$border-radius-center-revealing-panel: 5px !default;
$border-revealing-panel: 1px solid $color-black !default;
$background-color-content-revealing-panel: $color-white !default;
$padding-content-revealing-panel: 8px !default;
$top-content-center-revealing-panel: 50px !default;
$max-height-content-center-revealing-panel: 500px !default;

/**
 * @section Variables
 * @subsection Site Loader
 *
 * These are the variables that control the look and feel of the site loader.
 *
 * @var $background-color-site-loader
 * @var $padding-text-site-loader
 * @var $text-align-text-site-loader
 * @var $border-radius-non-blocking-site-loader
 * @var $padding-non-blocking-site-loader
 * @var $top-non-blocking-site-loader
 * @var $right-non-blocking-site-loader
 * @var $width-non-blocking-site-loader
 * @var $margin-non-blocking-site-loader
 * @var $text-align-non-blocking-site-loader
 */
$background-color-site-loader: $color-white !default;
$padding-text-site-loader: 50px 0 0 0 !default;
$text-align-text-site-loader: center !default;
$border-radius-non-blocking-site-loader: 3px !default;
$padding-non-blocking-site-loader: 0.25em 0.5em !default;
$top-non-blocking-site-loader: 5px !default;
$right-non-blocking-site-loader: 50% !default;
$width-non-blocking-site-loader: 300px !default;
$margin-non-blocking-site-loader: 0 -1 * ($width-non-blocking-site-loader / 2) 0 0 !default;
$text-align-non-blocking-site-loader: center !default;

/**
 * @section Variables
 * @subsection Site Overlay
 *
 * These are the variables that control the look and feel of the site overlay.
 *
 * @var $background-color-site-overlay
 * @var $opacity-site-overlay
 */
$background-color-site-overlay: $color-black !default;
$opacity-site-overlay: .5 !default;

/**
 * @section Variables
 * @subsection SVG Icons
 *
 * These are the variables the control the look and feel of SVG icons.
 *
 * @var $width-svg-icon
 * @var $height-svg-icon
 */
$width-svg-icon: 16px !default;
$height-svg-icon: 16px !default;

/**
 * @section Variables
 * @subsection Tabs
 *
 * These are the variables that control the look and feel for tabs.
 *
 * @var $margin-tabs
 * @var $padding-tabs
 * @var $padding-tab-tabs
 * @var $border-tabs
 * @var $background-color-tab-is-active-tabs
 */
$margin-tabs: 0 !default;
$padding-tabs: 0 !default;
$padding-tab-tabs: 3px !default;
$border-tabs: 1px solid $color-tundora !default;
$background-color-tab-is-active-tabs: $color-tundora-l50 !default;

/**
 * @section Variables
 * @subsection Tooltip
 *
 * These are the variables that control the look and feel for the tabs.
 *
 * @var $color-tooltip
 * @var $padding-content-tooltip
 * @var $border-color-content-tooltip
 * @var $background-color-content-tooltip
 * @var $border-content-tooltip
 * @var $border-radius-tooltip
 * @var $background-color-sticky-content-tooltip
 * @var $border-color-sticky-content-tooltip
 * @var $border-sticky-content-tooltip
 * @var $color-sticky-content-tooltip
 */
$color-content-tooltip: $color-light-text !default;
$padding-content-tooltip: 5px !default;
$border-color-content-tooltip: $color-black !default;
$background-color-content-tooltip: $color-black !default;
$border-content-tooltip: 1px solid $border-color-content-tooltip !default;
$border-radius-tooltip: 3px !default;
$background-color-sticky-content-tooltip: $color-white !default;
$border-color-sticky-content-tooltip: $color-gray !default;
$border-sticky-content-tooltip: 1px solid $border-color-sticky-content-tooltip !default;
$color-sticky-content-tooltip: $color-text !default;

/**
 * @section Variables
 * @subsection Tree
 *
 * These are the variables that control the look and feel for trees.
 *
 * @var $padding-tree
 * @var $padding-no-icon-tree
 * @var $width-icon-tree
 * @var $height-icon-tree
 * @var $margin-icon-tree
 */
$padding-tree: 0 0 0 8px !default;
$padding-no-icon-tree: 0 0 0 22px !default;
$width-icon-tree: 11px !default;
$height-icon-tree: 11px !default;
$margin-icon-tree: 0 3px 0 0 !default;

/**
 * @section Variables
 * @subsection Headings
 *
 * These are the variables that control the look and feel of headings (h1 ... h6).
 *
 * @var $font-size-h1
 * @var $margin-h1
 * @var $font-size-h2
 * @var $margin-h2
 * @var $font-size-h3
 * @var $margin-h3
 * @var $font-size-h4
 * @var $margin-h4
 * @var $font-size-h5
 * @var $margin-h5
 * @var $font-size-h6
 * @var $margin-h6
 */
$font-size-h1: 3.2rem !default;
$margin-h1: 0 0 1rem 0 !default;
$font-size-h2: 2.4rem !default;
$margin-h2: 0 0 1rem 0 !default;
$font-size-h3: 1.8rem !default;
$margin-h3: 0 0 1rem 0 !default;
$font-size-h4: 1.5rem !default;
$margin-h4: 0 0 1rem 0 !default;
$font-size-h5: 1.3rem !default;
$margin-h5: 0 0 1rem 0 !default;
$font-size-h6: 1.1rem !default;
$margin-h6: 0 0 1rem 0 !default;

/**
 * @section Variables
 * @subsection Auto Complete
 *
 * These are the variable the control the look and feel of the auto complete.
 *
 * @var $border-options-auto-complete
 * @var $background-color-options-auto-complete
 * @var $max-height-options-auto-complete
 * @var $padding-option-auto-complete
 * @var $background-color-option-is-focused-auto-complete
 * @var $box-shadow-options-auto-complete
 * @var $box-shadow-options-valid-auto-complete
 * @var $box-shadow-options-invalid-auto-complete
 */
$border-options-auto-complete: $border-input !default;
$background-color-options-auto-complete: $color-white !default;
$max-height-options-auto-complete: 300px !default;
$padding-option-auto-complete: 3px 6px !default;
$background-color-option-is-focused-auto-complete: $color-link-water !default;
$box-shadow-options-auto-complete: $box-shadow-focused-input !default;
$box-shadow-options-valid-auto-complete: $box-shadow-valid-input-element !default;
$box-shadow-options-invalid-auto-complete: $box-shadow-invalid-input-element !default;

/**
 * @section Variables
 * @subsection Notity
 *
 * These are the variable that control the look and feel of the notify.
 *
 * @var $top-default-notify
 * @var $right-default-notify
 */
$top-default-notify: 15px !default;
$right-default-notify: 15px !default;

/**
 * @section Variables
 * @subsection Z-Indexes
 *
 * @var $z-index-content-tooltip
 * @var $z-index-extend-text
 * @var $z-index-container-tagging
 * @var $z-index-button-button-drop-down
 * @var $z-index-button-is-active-button-drop-down
 * @var $z-index-content-button-drop-down
 * @var $z-index-site-overlay
 * @var $z-index-notify
 * @var $z-index-non-blocking-site-loader
 * @var $z-index-site-loader
 * @var $z-index-content-revealing-panel
 *
 * In order to better see how element stack, these are all the z-index values grouped in on location (instead of grouped with each component).
 */
$z-index-extend-text: 1 !default;
$z-index-container-tagging: 2 !default;
$z-index-content-tooltip: 3 !default;
$z-index-button-button-drop-down: 495 !default;
$z-index-button-is-active-button-drop-down: 502 !default;
$z-index-content-button-drop-down: 501 !default;
$z-index-site-overlay: 999 !default;
$z-index-notify: 9999 !default;
$z-index-non-blocking-site-loader: 10000 !default;
$z-index-site-loader: 10001 !default;
$z-index-content-revealing-panel: 11000 !default;

/**
 * @section Variables
 * @subsection Tables
 *
 * These are the variables that control the look and feel of tables.
 *
 * @var $margin-table
 * @var $background-color-head-table
 * @var $background-color-row-even-table
 * @var $color-head-table
 * @var $padding-cell-table
 * @var $border-cell-table
 */
$margin-table: 5px !default;
$background-color-head-table: $color-danube !default;
$background-color-row-even-table: $color-link-water !default;
$color-head-table: $color-white !default;
$padding-cell-table: 5px !default;
$border-cell-table: 1px solid $color-black !default;

/**
 * @section Variables
 * @subsection Loading Indicator
 *
 * These are the variables that control the look and feel of the loading indicator.
 *
 * @var $number-of-indicators
 * @var $size-indicator-loading
 * @var $margin-indicator-loading
 * @var $height-loading
 * @var $width-loading
 * @var $opacity-indicator-low-loading
 * @var $opacity-indicator-high-loading
 * @var $background-color-loading
 * @var $border-loading
 * @var $animation-time-indicator
 */
$number-of-indicators: 4 !default;
$size-indicator-loading: 8px !default;
$margin-indicator-loading: 3px !default;
$height-loading: $size-indicator-loading + ($margin-indicator-loading * 2) !default;
$width-loading: ($size-indicator-loading * $number-of-indicators) + ($margin-indicator-loading * ($number-of-indicators * 2)) !default;
$opacity-indicator-low-loading: 0 !default;
$opacity-indicator-high-loading: .80 !default;
$background-color-loading: $color-tundora !default;
$border-loading: 1px solid $color-black !default;

/**
 * @section Variables
 * @subsection Feature Indicator
 *
 * These are the variables that control the look and feel for the feature indicator.
 *
 * @var $size-start-feature-indicator This value must equal at least (`$border-size-feature-indicator` * 3) + (`$border-content-margin-feature-indicator` * 2) otherwise inner shadow will not work properly
 * @var $size-end-feature-indicator
 * @var $opacity-start-feature-indicator
 * @var $opacity-end-feature-indicator
 * @var $background-color-feature-indicator
 * @var $duration-fade-animation-feature-indicator
 * @var $border-size-feature-indicator
 * @var $border-content-margin-feature-indicator
 */
$size-start-feature-indicator: 12px !default;
$size-end-feature-indicator: 24px !default;
$opacity-start-feature-indicator: .3 !default;
$opacity-end-feature-indicator: .1 !default;
$background-color-feature-indicator: $color-gray !default;
$duration-fade-animation-feature-indicator: .75s !default;
$border-size-feature-indicator: 2px !default;
$border-content-margin-feature-indicator: 2px !default;

//neat variables
$max-width: 100%;
